<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 text-center">
            <br><br><br><br>
            <% if current_college %>
              <!--ログイン後-->
              <% @products.each do |product| %>
                
                <%=link_to  product_path(product.id) do %>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title"><%= product.title %></h2>
                            <p class="card-text"><%= product.content %></p>
                            <p class="card-text">￥<%= product.price %></p>
                        </div>
                    </div>
                <% end %>
                
              <%end%>
            <% else %>
              <!--ログイン前-->
              <%= link_to("大学の方はこちら","/colleges/sign_up", class: "btn btn-primary") %>
              
              <%= link_to("企業の方はこちら","/companies/sign_up", class: "btn btn-primary") %>
            <% end %>
        </div>
    </div>
</div>