<div class="container">
        <div class="offset-md-3 col-md-6">
             <div class="card">
            <div class="card-header"><h2><%= @product.title %></h2></div>
            <div class="card-body">
            <br><br>
            <%= link_to @product.college.name, college_path(@product.college.id)%>
            <p class="text-danger">￥<%= @product.price %></p>
            <%#= image_tag @product.pictures.image.url %>
            <% if  @product.college == current_college %>
                <%= link_to("編集","/products/#{@product.id}/edit") %>
                <%= link_to("削除",@product,{method: "delete"}) %>
            <% end %>  
            <% if current_company.present? %>
              <div id="like-icon-post-<%= @product.id.to_s %>">
                  <% if @product.liked_by(current_company).present?%>
                    <%= link_to "",product_like_path(@product.id, @product.liked_by(current_company)),method: :DELETE, class: "fa fa-2x fa-heart"%>
                      <% else %>
                    <%= link_to "",product_likes_path(@product),method: :POST, class: "fa fa-2x fa-heart-o"%>
                  <% end %>
              </div>
            <% else %>
               <div id="like-icon-post-<%= @product.id.to_s %>">
                    <% if @product.like_by(current_college).present?%>
                      <%= link_to "",product_like_path(@product.id, @product.like_by(current_college)),method: :DELETE, class: "fa fa-2x fa-heart"%>
                          <% else %>
                      <%= link_to "",product_likes_path(@product),method: :POST, class: "fa fa-2x fa-heart-o"%>
                    <% end %>
                </div>
              </div>
            <% end %> 
              <%= @product.likes_count%>
            <p><%= @product.content %></p>
      </div>
    </div>
</div>