<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <br><br>
            <%= link_to @product.college.name, college_path(@product.college.id)%>
            <h2><%= @product.title %></h2>
            <p class="text-danger">￥<%= @product.price %></p>
            <% if current_company.present? %>
              <div id="like-icon-post-<%= @product.id.to_s %>">
                  <% if @product.liked_by(current_company).present?%>
                    <%= link_to "",product_like_path(@product.id, @product.liked_by(current_company)),method: :DELETE, class: "fa fa-2x fa-heart"%>
                      <% else %>
                  <%= link_to "",product_likes_path(@product),method: :POST, class: "fa fa-2x fa-heart-o"%>
                  <% end %>
              </div>
            <% end %>
            

        <% if  @product.college == current_college %>    
            <%= link_to("編集","/products/#{@product.id}/edit") %>
            <%= link_to("削除",@product,{method: "delete"}) %>
        <% end %>  
            <br><br>
            <p><%= @product.content %></p>
        </div>
    </div>
</div>