<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <br><br>
            <h2><%= @product.title %></h2>
            <p class="text-danger">￥<%= @product.price %></p>
            <%= link_to("編集","/products/#{@product.id}/edit") %>
            <%= link_to("削除","/products/#{@product.id}/destroy",{method: "post"}) %>
            <br><br>
            <p><%= @product.content %></p>
        </div>
    </div>
</div>