<div class="container">
        <div class="offset-md-3 col-md-6">
             <div class="card">
            <div class="card-header"><h2><%= @product.title %></h2></div>
            <div class="card-body">
            <br><br>
            <%= link_to @product.college.name, college_path(@product.college.id)%>
            <p class="text-danger">￥<%= @product.price %></p>
            <%#= image_tag @product.pictures.image.url %>
            <% if  @product.college == current_college %>
                <%= link_to("編集","/products/#{@product.id}/edit") %>
                <%= link_to("削除",@product,{method: "delete"}) %>
            <% end %>  
            <% if current_company.present? %>
              <div id="like-icon-post-<%= @product.id.to_s %>">
                  <% if @product.liked_by(current_company).present?%>
                    <%= link_to "",product_like_path(@product.id, @product.liked_by(current_company)),method: :DELETE, class: "fa fa-2x fa-heart"%>
                      <% else %>
                    <%= link_to "",product_likes_path(@product),method: :POST, class: "fa fa-2x fa-heart-o"%>
                  <% end %>
              </div>
            <% else %>
               <div id="like-icon-post-<%= @product.id.to_s %>">
                    <% if @product.like_by(current_college).present?%>
                      <%= link_to "",product_like_path(@product.id, @product.like_by(current_college)),method: :DELETE, class: "fa fa-2x fa-heart"%>
                          <% else %>
                      <%= link_to "",product_likes_path(@product),method: :POST, class: "fa fa-2x fa-heart-o"%>
                    <% end %>
                </div>
              </div>
            <% end %> 
              <%= @product.likes_count%>
            <p><%= @product.content %></p>
<<<<<<< HEAD
      </div>
=======
            
            <!--ここからコメント-->
            <%= form_for [@product, @comment] do |f| %>
                <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <ul>
                        <% @comment.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>  
              <%= f.text_area :content %>
              <br>
              <%= f.submit 'コメントする' %>
            <% end %>
            <ul class="comments">    
            <li>
                <% @comments.each do |comment| %>
                
                    <% if comment.college %>
                    <div class="college_comment" >
                        <%= link_to comment.college.name, college_path(comment.college_id) %>
                    </div>    
                    <% elsif comment.company %>
                    <div class="company_comment">
                        <%= link_to comment.company.name, company_path(comment.company_id) %>
                    </div>    
                    <% end %>
                    <%= comment.content %>
                <% end %>
            </li>    
            </ul>
        </div>
>>>>>>> 78d443d2b723e34ffef372b128b14fdd80cb5873
    </div>
</div>